body{
	background-color:#241e1e;
}
#h1 {
	color:white;
	text-align:center;
	font-style:italic;
	font-size:50px;
	background-color:#5249495c;
	border-radius:20px 20px 20px 20px;
	height:100%;
}
 
.data{
	display:table;
}

.g-signin2{
	position: absolute;
	top: 50%;
	left:50%;
	margin-top: -50px;
	margin-left: -50px;
}